<ion-content [fullscreen]="true" class="profile-content">

  

  <div class="profile-header ion-text-center">
    <h1>{{ translate.t('profile.title') || 'My Profile' }}</h1>
    <p>{{ translate.t('profile.subtitle') || 'Update your personal information' }}</p>
  </div>

  <form [formGroup]="profileForm" (ngSubmit)="onUpdate()" class="profile-form">

    <app-input
      [label]="translate.t('profile.name') || 'NAME'"
      type="text"
      [control]="getControl('name')">
    </app-input>

    <app-input
      [label]="translate.t('profile.lastName') || 'LASTNAME'"
      type="text"
      [control]="getControl('lastName')">
    </app-input>

    <app-input
      [label]="translate.t('profile.email') || 'EMAIL'"
      type="email"
      [control]="getControl('email')"
      [disabled]="true">
    </app-input>

    <!-- Acciones -->
    <div class="profile-actions">
  <app-button [waittext]="translate.t('profile.update')" type="submit"></app-button>
      
      <app-button 
        [waittext]="translate.t('profile.backToHome')" 
        type="button" 
        (click)="goHome()">
      </app-button>
      
      <app-button 
        [waittext]="translate.t('common.logout')" 
        type="button" 
        (click)="onLogout()">
      </app-button>
    </div>
    <div class="language-toggle ion-text-right ion-padding-horizontal">
    <ion-button fill="clear" (click)="toggleLanguage()">
      <ion-icon name="language"></ion-icon>
      {{ translate.currentLang === 'es' ? 'EN' : 'ES' }}
    </ion-button>
  </div>
  </form>

  <!-- Mensajes de error / éxito -->
  <div class="profile-messages ion-text-center">
    <ion-text color="danger" *ngIf="errorMsg">{{ errorMsg }}</ion-text>
    <ion-text color="success" *ngIf="successMsg">{{ successMsg }}</ion-text>
  </div>
</ion-content>