<ion-content [fullscreen]="true" class="login-content">

  <!-- Botón para cambiar idioma -->
  <div class="language-toggle ion-text-right ion-padding-horizontal">
    <ion-button fill="clear" (click)="toggleLanguage()">
      <ion-icon name="language"></ion-icon>
      {{ translate.currentLang === 'es' ? 'EN' : 'ES' }}
    </ion-button>
  </div>

  <div class="background-shapes"></div> 

  <div class="login-header animate-fade-in">
    <h1>{{ translate.t('login.title') || 'WALLPAPERS MDJDS' }}</h1>
    <p>{{ translate.t('login.subtitle') || 'YOU CAN CHOOSE AN Amazing WALLPAPER' }}</p>
  </div>

  <form (submit)="onsubmit()" class="login-form animate-slide-up">
    <app-input 
      [label]="translate.t('login.email') || 'EMAIL'" 
      type="email" 
      [clear]="true" 
      [control]="emailControl">
    </app-input>

    <app-input 
      [label]="translate.t('login.password') || 'PASSWORD'" 
      type="password" 
      [clear]="false" 
      [control]="passwordControl">
    </app-input>

    <app-button 
  [waittext]="translate.t('login.loginBtn')" 
  type="submit">
</app-button>

<app-button 
  [waittext]="translate.t('login.registerBtn')" 
  type="button" 
  (click)="gotoregister()">
</app-button>
  </form>

</ion-content>