<ion-content [fullscreen]="true" class="register-content">

  <div class="background-shapes"></div>

  <div class="register-header animate-fade-in">
    <h1>Create Account </h1>
    <p>Join us and explore amazing wallpapers </p>
  </div>

  <form (submit)="onsubmit()" class="register-form animate-slide-up">
    <app-input 
      label="NAME" 
      type="text" 
      [clear]="true" 
      [control]="nameControl">
    </app-input>

    <app-input 
      label="LASTNAME" 
      type="text" 
      [clear]="true" 
      [control]="lastNameControl">
    </app-input>

    <app-input 
      label="EMAIL" 
      type="email" 
      [clear]="true" 
      [control]="emailControl">
    </app-input>

    <app-input 
      label="PASSWORD" 
      type="password"
      [clear]="false" 
      [control]="passwordControl">
    </app-input>

    <app-input 
      label="CONFIRM PASSWORD" 
      type="password" 
      [clear]="false" 
      [control]="CONFIRMPasswordControl">
    </app-input>

    <app-button 
      waittext="REGISTER" 
      type="submit">
    </app-button>

    <app-button 
      waittext="BACK" 
      type="button" 
      (click)="gotologin()">
    </app-button>
  </form>

</ion-content>
