
<ion-content [fullscreen]="true">
<h1>Register</h1>
<form submit="onsubmit()">
 <app-input label="NAME" type="name" [clear]="true" [control]="nameControl"></app-input>
  <app-input label="LASTNAME" type="lastname" [clear]="true" [control]="lastNameControl"></app-input>
  <app-input label="EMAIL" type="email" [clear]="true" [control]="emailControl"></app-input>
  <app-input label="PASSWORD" type="password"[clear]="false" [control]="passwordControl"></app-input>
  <app-input label="Confirm PASSWORD" type="password" [clear]="false" [control]="CONFIRMPasswordControl"></app-input>
  
  <app-button waittext="REGISTER" type="submit" (click)="onsubmit()"></app-button>
  <app-button waittext="BACK"type="button" (click)="gotologin()"></app-button>
  </form>
</ion-content>
