<ion-content [fullscreen]="true" class="ion-padding">
  <h1>Welcome to the Home Page</h1>
  <p>Tus wallpapers</p>

  <!-- Galería de imágenes -->
  <ion-grid>
    <ion-row>
      <ion-col size="6" *ngFor="let img of images">
        <ion-card>
          <ion-img [src]="img.url"></ion-img>
          <ion-button expand="block" color="danger" (click)="onDeleteWallpaper(img.path)">
            Eliminar
          </ion-button>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

   <input type="file" accept="image/*" hidden #fileInput (change)="onAddWallpaperClick($event)" />

  <ion-fab vertical="bottom" horizontal="start" slot="fixed">
    <app-button type="button" waittext="Agregar Wallpaper" (click)="fileInput.click()"></app-button>
  </ion-fab>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <app-button type="button" waittext="Perfil" (click)="goToProfile()"></app-button>
  </ion-fab>

 

  <!-- Toast -->
  <ion-toast *ngIf="showSuccess" message="✅ Fondo agregado con éxito" duration="2000" color="success"></ion-toast>
</ion-content>
